@{
    ViewBag.Title = "_CrudPartial";
}
           
        <ul class="nav nav-pills men-grey" style="width: 95%;margin: 0 auto;" >
                <li>@Html.ActionLink("Game", "Index", "Game")</li>
                <li>@Html.ActionLink("Player", "Index", "Player")</li>
                <li>@Html.ActionLink("Purchase", "Index", "Purchase")</li>
                <li>@Html.ActionLink("Engagement", "Index", "Engagement")</li>
        </ul>
  
